html {
  background-image: url(https://i.imgur.com/SNLYODK.gif);
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.left_top {
  text-align: left;
  color: white;
  position: absolute;
  left: 10px;
  width: 235px;
  border: 2px solid grey;
  padding: 5px;
  font-family: "Monospace";
}


.left_middle {
  text-align: left;
  color: white;
  top: 51%;
  position: absolute;
  left: 10px;
  width: 235px;
  border: 2px solid grey;
  padding: 5px;
  font-family: "Monospace";
}  

.left_bottom {
  text-align: left;
  color: white;
  top: 66%;
  position: absolute;
  left: 10px;
  width: 235px;
  border: 2px solid grey;
  padding: 5px;
  font-family: "Monospace";
}
